---
---

@font-face {
  font-family: 'MonaspaceArgon';
  font-style: normal;
  font-weight: 400;
  src: local('MonaspaceArgon'), local('MonaspaceArgon-Regular'), url("./monaspace/MonaspaceArgon-Regular.woff") format('woff');
}

@font-face {
  font-family: 'MonaspaceArgon';
  font-style: italic;
  font-weight: 400;
  src: local('MonaspaceArgon'), local('MonaspaceArgon-Italic'), url("./monaspace/MonaspaceArgon-Italic.woff") format('woff');
}

@font-face {
  font-family: 'MonaspaceArgon';
  font-style: normal;
  font-weight: bold;
  src: local('MonaspaceArgon'), local('MonaspaceArgon-Bold'), url("./monaspace/MonaspaceArgon-Bold.woff") format('woff');
}

@font-face {
  font-family: 'MonaspaceArgon';
  font-style: italic;
  font-weight: bold;
  src: local('MonaspaceArgon'), local('MonaspaceArgon-BoldItalic'), url("./monaspace/MonaspaceArgon-BoldItalic.woff") format('woff');
}

body {
	font-family: MonaspaceArgon, Monaco,Menlo,monospace,sans-serif;
	padding: 2em;

  --primary-color: #7959c9;
}

h1, h2, h3, h4, h5, p, ul {
	margin: 0;
	font-size: 1em;
}

h2,h3 {
	font-weight: normal;
	grid-column: content;
	text-transform: uppercase;
	text-align: center;
  width: fit-content;
}

hr {
	grid-column: content;
	width: 100%;
  color: var(--primary-color);
}

.page-break {
	page-break-before: always;
}

h4 {
	font-weight: normal;
}

.shadow,
.shadow-items > * {
  box-shadow: -0.25em 0.25em black;
  border: 0.1em solid black;
}

#headline {
	font-size: 3em;
	display: grid;
	grid-column: content;
	grid-template-columns: [content] auto;

	.title {
		grid-column: content;
		align-self: end;
		justify-self: center;
		text-align: center;
	}

	.subtitle {
		grid-column: content;
		font-style: italic;
		font-size: 0.5em;
		justify-self: center;
    text-align: center;
    color: black;
    font-weight: normal;
    text-transform: none;
	}

	.avatar {
		grid-column: content;
		height: 2em;
    width: 2em;
		justify-self: center;
    margin-bottom: 0.5em;
	}
}

article {
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: [content] auto;
	grid-row-gap: 1em;
}

p, blockquote, ul, h4 {
	grid-column: content;
}

code {
	font-size: 0.9em;
	font-family: Monaco,Menlo,monospace,sans-serif;
	color: #aaa;
}

// Date
p code {
	text-align: right;
}

// Location
h4 {
	display: grid;
	grid-auto-rows: auto;
	font-weight: normal;
	grid-template-columns: [content] auto;

	.title {
		grid-column: content;
	}

	.date {
		grid-column: content;
		font-family: Monaco,Menlo,monospace,sans-serif;
		color: #666;
	}

	a {
		grid-column: content;
		font-style: italic;
	}
}

ul {
	padding-left: 1em;
}


h2 {
	color: var(--primary-color);
	font-weight: bold;
  font-size: 1.4em
}

h3 {
	color: var(--primary-color);
  font-size: 1.2em;
}

a {
	color: var(--primary-color);
}

a:hover {
  color: white;
  background-color: var(--primary-color);
}

.pills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pills > li {
  display: inline-block;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  font-size: 0.8em;
  margin: 0.2em
}

#webaddress {
	grid-column: content;
	display: flex;
	flex-direction: column;
	align-items: center;

	a {
		text-decoration: none;
	}

  list-style: none;
  padding: 0;
}

@media print {
  body {
    font-size: 0.6em;
  }

  #headline {
    font-size: 2em;
  }

  h2 {
    justify-self: center;
  }

  h3 {
    text-align: start;
    font-weight: bold;
    margin-bottom: -0.5em;
  }

	hr {
		display: none;
		visibility: hidden;
	}

  .print-it {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 700px) {

	h2,h3 {
		grid-column: headers;
    justify-self: end;
	}

	#webaddress {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: start;

		li:not(:first-child)::before {
			content: "|";
			display: inline-block;
			color: initial;
			width: 1em;
			text-align: center;
			cursor: initial;
		}
	}

	#headline {
		grid-template-columns: [avatar] 2em [content] auto;
		grid-column-gap: .5em;

		.avatar {
			grid-row-start: 1;
			grid-row-end: 3;
			grid-column: avatar;
		}

		.subtitle,
		.title {
			justify-self: start;
			text-align: start;
		}
	}

	article {
		grid-template-columns: [headers] 25% [content] auto [side] 10%;
		grid-column-gap: 1em;
	}

  .pills {
    justify-content: start;
  }

	h4 {
		grid-template-columns: [content] auto [side] auto;


		.date {
			grid-column: side;
			justify-self: end;
		}
	}
}
