<!doctype html>
<html lang="en">
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
  <link href="media/normalize.css" type="text/css" rel="stylesheet">
  <link href="media/tine/screen.css" type="text/css" rel="stylesheet">
  <link rel="preload" as="font" crossorigin="anonymous" href="media/tine/monaspace/MonaspaceArgon-BoldItalic.woff" type="font/woff2">
  <link rel="preload" as="font" crossorigin="anonymous" href="media/tine/monaspace/MonaspaceArgon-Bold.woff" type="font/woff2">
  <link rel="preload" as="font" crossorigin="anonymous" href="media/tine/monaspace/MonaspaceArgon-Regular.woff" type="font/woff2">
  <link rel="preload" as="font" crossorigin="anonymous" href="media/tine/monaspace/MonaspaceArgon-Italic.woff" type="font/woff2">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
  <article>
  {{ content }}
  </article>
</body>
</html>
